body{
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: #0055aa;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
}
p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}
.destaque{
    background-color: #ffffff;
    padding: 15px;
    border-left: 5px solid #0055aa;
    border-radius: 5px;
}